@(organizations : List[OrganizationDetail])
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Take Over Organization</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/imageoverlay.css">
    <link rel="stylesheet" href="/assets/stylesheets/login.css">

    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary" >
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;
    <a class="navbar-brand" href="/login">
        <img src="/assets/images/ftm.jpg" data-toggle="tooltip" title="Home" height="50">
    </a>
    </span>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a class="nav-link" href="/">Logout</a>
    </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-success my-2 my-sm-0" href="/searchteams">Search Teams Database</a>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p class="display-2">Take Over An Organization</p>
            <form method="POST">
                @helper.CSRF.formField
                <br><br>
                <div class="row">
                    @for(organization <- organizations){

                    <div class="col-3">
                        <div class="container">
                            <img src="/organizationpicture/@organization.getTakeOverOrganizationId" alt="Avatar"
                                 class="image">
                            <div class="overlay">
                                <div class="text">
                                    <button class="btn btn-success" name="Id" id="Id"
                                            value="@organization.getTakeOverOrganizationId"><h6 class="title">
                                        @organization.getTakeOverOrganizationName</h6>
                                    </button>

                                    <p>Salary Cap: @organization.getFormattedSalaryCap</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>


            </form>
        </div>
    </div>
</div>
</div>
<script src="/assets/javascripts/login.js"></script>
</body>
</html>