@(playerPosition : PlayerPosition, playerDetails : List[PlayerDetail], colleges : List[String], searchName : String, searchCollege : String)
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Draft Player</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/login.css">
    <link rel="stylesheet" href="/assets/stylesheets/button.css">

    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;
    <a class="navbar-brand" href="/login">
        <img src="/assets/images/ftm.jpg" data-toggle="tooltip" title="Home" height="50">
    </a>
    </span>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a class="nav-link" href="/managecoach">Manage Coach</a>
        <a class="nav-link" href="/draftteam">Back</a>
        <a class="nav-link" href="/">Logout</a>
    </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-success my-2 my-sm-0" href="/searchteams">Search Teams Database</a>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <p class="display-2">Draft A @playerPosition.getPlayerPositionName</p>
    <div class="row">
        <form action="" method="GET" autocomplete="on">
            <label for="myInput">Search: </label>
            <input id="myInput" type="text" name="searchname" placeholder="Enter Name" value="@searchName">

            <label for="college">College: </label>
            <SELECT id="college" name="college">
                <option value=""></option>
                @for(college <- colleges){
                @if(college.equals(searchCollege)){
                <option value="@college" selected="selected">@college</option>
                }else{
                <option value="@college">@college</option>
                }
                }
            </SELECT>
            <input type="submit" value="Search">

            <button class="btn btn-outline-info" id="searchMinValue" name="searchMinValue" value="Minimum Salary">
                Minimum Salary
            </button>
        </form>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="POST">
                @helper.CSRF.formField
                <br><br>
                <div class="row">
                    @for(player <- playerDetails){
                    <div class="card" style="width:20rem;margin:20px 0 24px 0">
                        <div class="card-body mySource">
                            <h4 class="card-title">@player.getPlayerName</h4>
                            <p class="card-text">Salary: @player.getFormattedPlayerValue</p>
                            <p class="card-text">Height: @player.getPlayerHeightFeet' @player.getPlayerHeightInches"</p>
                            <p class="card-text">Weight: @player.getPlayerWeight</p>
                            <p class="card-text">Years Pro: @player.getYearsExperience</p>
                            <p class="card-text">College: @player.getPlayerCollege</p>
                            <button class="button btn btn-success" value="@player.getPlayerId" name="Id" id="Id">SELECT
                            </button>
                        </div>
                    </div>

                    }
                </div>
            </form>
        </div>
    </div>

    <script src="/assets/javascripts/searchplayer.js"></script>
    <script src="/assets/javascripts/login.js"></script>


</div>
</body>
</html>