@(playerPosition : PlayerPosition, playerDetails : List[PlayerDetail])
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Draft Player</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary" style="margin:24px 0;">
    <a class="navbar-brand" href="/newowner">Home</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-light" href="/draftteam">Back</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/">Logout</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-success my-2 my-sm-0" type="button">Search</button>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <p class="display-2">Draft A @playerPosition.getPlayerPositionName</p>
    <div class="row">
        <select name="college">
            @for(player <- playerDetails){
            <option value="">@</option>
            }
        </select>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="POST">
                @helper.CSRF.formField
                <br><br>
                <div class="row">
                    @for(player <- playerDetails){
                    <div class="card" style="width:20rem;margin:20px 0 24px 0">
                        <div class="card-body">
                            <h4 class="card-title">@player.getPlayerName</h4>
                            <p class="card-text">Salary: @player.getFormattedPlayerValue</p>
                            <p class="card-text">Height: @player.getPlayerHeightFeet' @player.getPlayerHeightInches"</p>
                            <p class="card-text">Weight: @player.getPlayerWeight</p>
                            <p class="card-text">Years Pro: @player.getYearsExperience</p>
                            <p class="card-text">College: @player.getPlayerCollege</p>
                            <button class="btn btn-primary" value="@player.getPlayerId" name="Id" id="Id">SELECT</button>
                        </div>
                    </div>

                    }
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>