@(coaches : List[CoachDetail])
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hire Coach</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary" style="margin:24px 0;">
    <a class="navbar-brand" href="/login">
        <img src="/assets/images/tmlogo.png" data-toggle="tooltip" title="Home" height="50">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-light" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/">Logout</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-success my-2 my-sm-0" href="/searchteams">Search Teams Database</a>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p class="display-2">Hire a Coach</p>
            <form method="POST">
                @helper.CSRF.formField
                <br><br>
                <div class="row">
                    @for(coach <- coaches){
                    <div class="col-2">
                        <div class="card" style="width:20rem;margin:20px 0 24px 0">
                            <div class="card-body">
                                <button class="btn btn-primary" name="Id" id="Id" value="@coach.getCoachId"><h4
                                        class="card-title">@coach.getCoachName</h4>
                                </button>
                                <br>
                                <h1></h1><br>
                                <p class="card-text">Salary: @coach.getFormattedCoachSalary</p>
                                <p class="card-text">Coach Tier: @coach.getCoachTier</p>
                            </div>
                            <img class="card-img-bottom" src="/coachpicture/@coach.getCoachId" alt="image"
                                 style="width:100%">
                        </div>
                    </div>

                    }

                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>