<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Team</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary" style="margin:24px 0;">
    <a class="navbar-brand" href="/newowner">Home</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-light" href="/draftcoach">New Coach</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/">Logout</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-success my-2 my-sm-0" type="button">Search</button>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p class="display-2">Setup Your NFL Team</p>
            <form method="POST">
                @helper.CSRF.formField
                <label for="teamcity">Team City: </label><input type="text" name="teamcity" id="teamcity" placeholder="Team City Here" required="required">
                <br><label for="teamname">Team Name: </label><input type="text" name="teamname" id="teamname" placeholder="Team Name Here" required="required">

                <br><input type="submit" value="Continue" >
            </form>
        </div>
    </div>
</div>
</body>
</html>