<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Team</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/formoverimage2.css">
    <link rel="stylesheet" href="/assets/stylesheets/slideshow.css">
    <link rel="stylesheet" href="/assets/stylesheets/login.css">

    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;
    <a class="navbar-brand" href="/login">
        <img src="/assets/images/ftm.jpg" data-toggle="tooltip" title="Home" height="50">
    </a>
    </span>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="nav-link" href="/draftcoach">New Coach</a>
        <a class="nav-link" href="/">Logout</a>
    </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-success my-2 my-sm-0" href="/searchteams">Search Teams Database</a>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div id="map">
        <!-- Slideshow container -->

        <div class="container">
            <div class="slideshow-container">

                <!-- Full-width images with number and caption text -->
                <div class="mySlides fade">
                    <img src="/assets/images/att1200.jpg">
                </div>

                <div class="mySlides fade">
                    <img src="/assets/images/chargers1200.jpg">
                </div>

                <div class="mySlides fade">
                    <img src="/assets/images/chiefs1200.jpg">
                </div>

                <div class="mySlides fade">
                    <img src="/assets/images/stadium1200.jpg">
                </div>

                <div class="mySlides fade">
                    <img src="/assets/images/vikings1200.jpg">
                </div>
            </div>
        </div>
    </div>
    <div id="form">
        <div class="form"><p class="text-center"><b>Setup Your NFL Team</b></p>
            <form method="POST">
                @helper.CSRF.formField
                <label for="teamcity"></label><input type="text" name="teamcity" id="teamcity"
                                                                placeholder="Team City Here"
                                                                required="required">
                <br><label for="teamname"></label><input type="text" name="teamname" id="teamname"
                                                                    placeholder="Team Name Here"
                                                                    required="required">

                <br><input type="submit" value="Continue">
            </form>
        </div>
    </div>
</div>
<script src="/assets/javascripts/login.js"></script>
<script src="/assets/javascripts/slideshow.js"></script>

</body>
</html>